body {
  background-color: lightgreen;
  font-family: Arial;
}

.header-container {
  display: flex;
  background-color: lightGreen;
  justify-content: center;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  font-size: 65px;
}

.title {
  display: flex;
  color: darkgreen;
}

.ui-container {
  display: flex;
  background-color: darkgreen;
  justify-content: center;
  margin-bottom: 10px;
}

.ui {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.game-container {
  display: flex;
  justify-content: center;
}

.scores-container {
  display: flex;
  justify-content: center;
  background-color: darkgreen;
  margin-top: 10px;
}

.scores {
  display: flex;
  width: 600px;
  justify-content: space-around;
  color: lightgreen;
}

.footer-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  color: darkgreen;
  font-size: 12px;
  width: 600px;
  justify-content: flex-start;
}

#score {
  color: lightgreen;
}

#reset {
  height: 30px;
  align-self: center;
  background-color: darkgreen;
  border: 1px solid lightgreen;
  color: lightgreen;
  cursor: pointer;
}

#GameCanvas {
  border: solid 2px darkgreen;
}